<% layout('layouts/boilerplate') %> <% if (campground) { %>
<h1><%= campground.name %></h1>
<span><%= campground.location %></span>
<p><%= campground.description %></p>
<span><%= campground.price %></span>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
  <button>Delete Campground</button>
</form>
<% } %>
<a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
